.Home {
}

.Home-content {
  /* Style profile content here */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.Sidebar {
  position: sticky;
  top: 0;
  width: auto;
  overflow-y: auto;
  padding: 5px;
}

.Nav-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.Nav-photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.Nav-header-text h1 {
  margin: 0;
  font-size: 15px;
}
